@use '../base/mixins' as mix;
@use '../base/variables' as var;

.body-text {
    display: flex;
    font-size: var(--body-text-font-size);
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 3rem;
  }
  
  .imagen-about-us {
    padding: 1rem;
    margin-right: 3rem;
    filter: drop-shadow(0 0 0.5rem #a2b402);
    border-radius: 0.5rem;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
    }
  }
  
  @include mix.tablet{
	.body-text {
        font-size: var(--body-text-fotn-size-small);
		flex-direction: column;
	}
   
	.imagen-about-us{
		margin-right: 0;
	}


}
  