<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Diamond Dogs</title>
        <link rel="shortcut icon" href="/assets/imgs/main-lgo.svg" type="image/x-icon">
		<link rel="stylesheet" href="/build/css/app.css" />
	</head>

    <body>
		<header>
			<nav class="nav-container">
				<div class="nav-logo">
					<a href="/index.html">
						<img src="/assets/imgs/Diamond_Dogs.svg.webp" alt="logo" />
					</a>
				</div>
				<ul class="nav-list">
					<li class="nav-item"><a href="/index.html">Index</a></li>
					<li class="nav-item"><a href="#cards">About</a></li>
					<li class="nav-item">
						<a href="/templates/contacto.html">Contact</a>
					</li>
				</ul>
				<div class="hamburger-menu">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</nav>
		</header>

		<section class="video">
			<div class="overlay">
                
				<div class="contenedor contenido-video">
					<div class="hero-logo">
						<img src="/assets/imgs/main-logo.svg" alt="">
					</div>
					<h1>Diamond Dogs: Elite Private Military Company</h1>
					<p>
						Welcome to Diamond Dogs, a premier private military company
						dedicated to excellence in mercenary operations, strategic
						management, and cutting-edge technology.
					</p>
				</div>
                <video autoplay muted loop>
				<source src="../video/Diamond_Dogs.mp4" type="video/mp4">
				</video>
			</div>
		</section>

        <section class="valid-form">
            
            <h1>Thank you, We'll keep in touch, or not...</h1>
            <a href="/index.html" class="valid-form-button">Try to go home, boy...</a>

        </section>
        <footer>
			<div class="footer-container">
				<div class="footer-body">
					<div class="footer-item">
						<h4>Services</h4>
						<ul>
							<li><a href="#">Militant Operations</a></li>
							<li><a href="#">Base Management</a></li>
							<li><a href="#">Fulton Extraction</a></li>
							<li><a href="#">Research and Development</a></li>
						</ul>
					</div>
					<div class="footer-item">
						<h4>Integrants</h4>
						<ul>
							<li><a href="#">Big Boss</a></li>
							<li><a href="#">Kazuhira Miller</a></li>
							<li><a href="#">Revolver Ocelot</a></li>
							<li><a href="#">Quiet</a></li>
							<li><a href="#">Code Talker</a></li>
							<li><a href="#">Huey Emmerich</a></li>
							<li><a href="#">Eli</a></li>
							<li><a href="#">D-Dog</a></li>
							<li><a href="#">D-Horse</a></li>
						</ul>
					</div>
					<div class="footer-item">
						<h4>Enemies</h4>
						<ul>
							<li><a href="#">Skull Face</a></li>
							<li><a href="#">XOF</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-social">
					<a href="https://www.facebook.com/"
						><img src="/assets/imgs/icons8-facebook.svg" alt="facebook"
					/></a>
					<a href="https://www.instagram.com/"
						><img src="/assets/imgs/icons8-instagram.svg" alt="instagram"
					/></a>
					<a href="https://www.twitter.com/metalgear"
						><img src="/assets/imgs/icons8-twitterx.svg" alt="twitter"
					/></a>
				</div>
			</div>
		</footer>
        <script src="../scripts/index.js"></script>
        <script src="../scripts/navBar.js"></script>
</body>
</html>